<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controlador</servlet-name>
        <servlet-class>controlador.controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>servelt.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarsesion</servlet-name>
        <servlet-class>servelt.iniciarsesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrar</servlet-name>
        <servlet-class>servelt.registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregar_Empresa</servlet-name>
        <servlet-class>servelt.agregar_Empresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editar_empresa</servlet-name>
        <servlet-class>servelt.editar_empresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminar_empresa</servlet-name>
        <servlet-class>servelt.eliminar_empresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarArea</servlet-name>
        <servlet-class>servelt.agregarArea</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador</servlet-name>
        <url-pattern>/controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/Iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarsesion</servlet-name>
        <url-pattern>/iniciarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrar</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregar_Empresa</servlet-name>
        <url-pattern>/agregar_Empresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editar_empresa</servlet-name>
        <url-pattern>/editar_empresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminar_empresa</servlet-name>
        <url-pattern>/eliminar_empresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarArea</servlet-name>
        <url-pattern>/agregarArea</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
